@use "sass:color";

@mixin button-styles($color) {
 color: $color;
 border-color: $color;
 background-color: transparent;

 &:hover,
 &:focus,
 &:active {
    color: color.adjust($color, $lightness: -25%);
    border-color: color.adjust($color, $lightness: -25%);
    background-color: transparent;
 }
}